@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=PT+Serif:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "PT Serif", serif;
  }

  .hero-bg {
    background-image: url(/assets/hero-bg.avif);
    background-size: cover;
    background-position: bottom;
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .support-banner {
    background-image: url(/assets/banner.svg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 340px;
    width: 100%;
  }

  .shadow {
    box-shadow: 0 0.2rem 1.5rem rgb(0 0 0 / 10%);
  }

  .hover-shadow {
    box-shadow: 0 0 3.5rem 0 rgb(0 0 0 / 20%);
  }
}
