@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=PT+Serif:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }

  h1, h2, h3, h4, h5 {
    font-family: "PT Serif", serif;
  }

  .hero-bg {
    background-image: url(/assets/hero-bg.avif);
    background-size: cover;
    background-position: bottom;
    position: relative;
    height: 73vh;
    width: 100%;
  }
}
